

body {
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  width: 98vw;
  height: 110vh;
}
#cp-entrar{
  background-color: #809BCE;
  box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;
padding:  14px 16px;


background: #809BCE;
mix-blend-mode: normal;
border: 1px solid #809BCE;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
}
#cp-criar-conta{
   background-color: #809BCE;
  box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;
padding:  14px 16px;


background: #656565;
mix-blend-mode: normal;
border: 1px solid #656565;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
  background-color: #656565;
}

li a:hover {
  background-color: #111;
}

.pw {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
  position: relative;
  top: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 500px;
  margin: 40px 0px 80px;
}

.card {
  display: flex;
  height: 400px;
  width: 300px;
  margin: 30px;
  background-color: #24252a;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.card:hover .card__caption {
  top: 10%;
  transform: translateY(100%);
}
.card:hover .card__image {
  transform: translateY(-100px);
}
.card:hover .card__thumb::after {
  top: 300%;
}
.card:hover .card__snippet {
  margin: 100px 50px;
}
.card__thumb {
  position: relative;
  max-height: 100px;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .card__thumb {
    max-height: 380px;
  }
}
.card__thumb::after {
  position: absolute;
  top: 0;
  display: block;
  content: "";
  width: 300px;
  height: 400px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 40%, rgba(255, 255, 255, 0) 100%);
  transition: 0.3s;
}
@media (min-width: 1050px) {
  .card__thumb::after {
    top: calc(250% - 250px);
  }
}
.card__image {
  transition: 0.5s ease-in-out;
  width: 1200px;
  height: 1000px;
}
.card__caption {
  position: absolute;
  top: 50%;
  z-index: 1;
  padding: 0 50px;
  color: white;
  transform: translateY(-50%);
  text-align: center;
  transition: 0.3s;
}
@media (min-width: 1200px) {
  .card__caption {
    top: calc(100% - 110px);
    transform: unset;
  }
}
.card__title {
  display: -webkit-box;
  max-height: 85px;
  overflow: hidden;
  font-family: "Playfair Display", serif;
  font-size: 23px;
  line-height: 28px;
  text-shadow: 0px 1px 5px black;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card__snippet {
  display: -webkit-box;
  max-height: 150px;
  margin: 20px 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-overflow: ellipsis;
  transition: 0.5s ease-in-out;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
@media (min-width: 1024px) {
  .card__snippet {
    margin: 60px 0;
  }
}
.card__button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border: 1px solid white;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
}
.card__button:hover {
  color: black;
  background-color: white;
}

.disclaimer {
  position: center;
  bottom: 0;
  /*left: 0%;*/
  z-index: 0;
  box-sizing: border-box;
  width: 1000px;
  padding: 50px 50px;
  background-color: white;
  transform: translateX(-100%);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-align: center;
}

.disclaimer__link {
  color: #755D87;
  text-decoration: none;
}/*# sourceMappingURL=inicio.css.map */


